[user]
  name = Levi Klingler
  email = klingler27@gmail.com

[init]
  defaultBranch = main

[core]
  excludesfile = /Users/levi/.gitignore
  pager = less -x3,5

[pull]
  rebase = false

[alias]
  s                 = status
  r                 = reset
  rb                = rebase
  a                 = add
  l                 = log --stat
  d                 = diff
  ds                = diff --staged
  c                 = commit
  cm                = commit -m
  co                = checkout
  po                = push origin
  amend             = commit --amend --no-edit

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
