* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 12px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #101010;
  margin-left: 0.25rem;
  padding-right: 0.5rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.1rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #85c1dc;
  border-radius: 5px;
}

#custom-music,
#clock,
#cpu,
#pulseaudio,
#memory,
#custom-email1,
#custom-email2,
#custom-network,
#custom-vpn,
#custom-lock,
#custom-notification,
#custom-power {
  background-color: #101010;
  padding: 5px 9px;
  margin: 5px 0;
}

#battery {
  background-color: #101010;
  padding: 5px 10px 5px 0px;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
  color: #a6d189;
}

#clock {
  color: #8caaee;
  border-radius: 5px;
  margin-right: 0.25rem;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#memory {
  border-radius: 0;
  padding: 5px 0px 5px 10px;
  color: #8caaee;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 5px;
  margin-left: 0.25rem;
}

#custom-network {
  border-radius: 5px 0px 0px 5px;
  padding: 5px 5px 5px 9px;
  margin-left: 0.25rem;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-email1 {
  border-radius: 5px;
  color: #ca9ee6;
}

#custom-email2 {
  margin-left: 0.25rem;
  border-radius: 5px;
  color: #a6d189;
}

#custom-vpn {
  border-radius: 0;
  padding: 3px 0px 5px 2px;
  color: #9d9d9d;
}

#custom-lock {
  padding-right: 12px;
  border-radius: 5px;
  color: #babbf1;
}

#custom-notification {
  margin-left: 0.25rem;
  padding-right: 0.75rem;
  border-radius: 5px;
  color: #babbf1;
}
